USE [EIP]
GO
/****** Object:  StoredProcedure [rcore].[PopulateDimProvider]    Script Date: 5/31/2026 9:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
 

--***********************************************************
-- SP Name 		: [rcore].[[PopulateDimProvider]]
-- Date         : 25-May-2026
-- User         : Ramadasa Hegde A(COPR\hedg9004)
-- Description  : Load Provider Info
-- Used In		: SSIS package
--***********************************************************
--**********************Change Tracking**********************
-- Ticket  	    User    			    Date         Change 
-- NA			COPR\hedg9004			25-May-2026  Created the Procedure
-- DMD-Feadback COPR\hedg9004           29-May-2026  Modified the code to support SCD Type 2 on Provider Dimension

--***********************************************************
 
ALTER     PROCEDURE [rcore].[PopulateDimProvider]
AS
BEGIN
BEGIN TRAN

    BEGIN TRY 
        SET NOCOUNT ON;

 
    SET NOCOUNT ON;
   /* Following is the example choosen as SCD2 Implementation. There is currently only 1 table used to display as example */
    --Added block for DMD-Feadback changes
    UPDATE T
    SET
        EffectiveEndDate = CAST(GETDATE()- 1 AS DATE) ,
        IsCurrent = 0
    FROM rcore.DimProvider T
    INNER JOIN EIPStaging.rstage.ProviderMaster S
        ON T.ProviderID = S.ProviderID
    WHERE T.IsCurrent = 1
    AND
    (
           ISNULL(T.ProviderName,'') <> ISNULL(S.ProviderName,'')
        OR ISNULL(T.ProviderType,'') <> ISNULL(S.ProviderType,'')
        OR ISNULL(T.City,'')         <> ISNULL(S.City,'')
        OR ISNULL(T.State,'')        <> ISNULL(S.State,'')
        OR ISNULL(T.Country,'')      <> ISNULL(S.Country,'')
    );
    
    INSERT INTO rCore.DimProvider
    (
        ProviderID,
        ProviderName,
        ProviderType,
        City,
        State,
        Country,
        EffectiveStartDate,
        EffectiveEndDate,
        IsCurrent
    )
    SELECT
        S.ProviderID,
        S.ProviderName,
        S.ProviderType,
        S.City,
        S.State,
        S.Country,
        CAST(GETDATE() AS DATE),
        '9999-12-31',
        1
    FROM EIPStaging.rstage.ProviderMaster S
    LEFT JOIN rCore.DimProvider T
        ON S.ProviderID = T.ProviderID
        AND T.IsCurrent = 1
    WHERE
           T.ProviderID IS NULL
        OR
           ISNULL(T.ProviderName,'') <> ISNULL(S.ProviderName,'')
        OR ISNULL(T.ProviderType,'') <> ISNULL(S.ProviderType,'')
        OR ISNULL(T.City,'')         <> ISNULL(S.City,'')
        OR ISNULL(T.State,'')        <> ISNULL(S.State,'')
        OR ISNULL(T.Country,'')      <> ISNULL(S.Country,'');
    
    
    --Commented the code for DMD-Feadback changes
    --MERGE rcore.DimProvider AS TARGET
 
    --USING
    --(
    --    SELECT *
    --    FROM EIPStaging.rstage.ProviderMaster
    --) AS SOURCE
 
    --ON TARGET.ProviderID = SOURCE.ProviderID
 
    --WHEN MATCHED THEN
 
    --    UPDATE SET
    --        TARGET.ProviderName = SOURCE.ProviderName,
    --        TARGET.ProviderType = SOURCE.ProviderType,
    --        TARGET.City         = SOURCE.City,
    --        TARGET.State        = SOURCE.State,
    --        TARGET.Country      = SOURCE.Country
 
    --WHEN NOT MATCHED THEN
 
    --    INSERT
    --    (
    --        ProviderID,
    --        ProviderName,
    --        ProviderType,
    --        City,
    --        State,
    --        Country
    --    )
 
    --    VALUES
    --    (
    --        SOURCE.ProviderID,
    --        SOURCE.ProviderName,
    --        SOURCE.ProviderType,
    --        SOURCE.City,
    --        SOURCE.State,
    --        SOURCE.Country
    --    );
 
    COMMIT TRAN
END TRY
BEGIN CATCH
IF @@TranCount <> 0
	ROLLBACK TRAN
--RAISEERROR ('Error Populating the Fact', 16, 1);
	--IF @@TranCount <> 0
	--	ROLLBACK TRAN
	--EXEC [EndeavorHRDMStaging].[Stage].[sp_AuditLoad] @RunLogID=@RunLogID, @SubAreaName=@SubAreaName, @Status=@StatusFail, @RowsExtracted=@RowsExtracted , @RowsLoaded=@RowsLoaded, @RowsRejected=@RowsRejected, @LoadStartDate=@LoadStartDate, --@LoadEndDate=GETUTCDATE(),
	--@SubAreaType= @SubAreaType , @TaskName=@TaskName
	--INSERT INTO [EndeavorHRDMStaging].Stage.ErrorLog (RunLogID,PackageName,TaskName,ErrorCode,ErrorDescription,FailedDate)
	--		            VALUES(@RunLogID,@PackageName,@TaskName,ERROR_NUMBER(),ERROR_MESSAGE(),GETUTCDATE());
	THROW;
END CATCH
END;
